*{
    margin : 0;
    padding : 0; 
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
    background-color: whitesmoke;
}
html, body{
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
#nav{
    /* background-color: red; */
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
}
#nav-part1{
    width:50%;
    display: flex;
    justify-content: space-between;
}
#nav-part2{
    width:30%;
    display: flex;
    justify-content: space-between;
}
#nav-part1 h3,h2,h4{
    font-size: 18px;
    font-weight: 450;
}
#nav-part1-sub{
    display: flex;
    gap:8px;
}
#content{
    margin-top: 50px;
    padding: 40px 60px;
}
#content h3{
    font-size: 24px;
    font-weight: 400;
}
#content h1{
    margin-top: 20px;
    font-size: 110px;
    line-height: 110px;
    font-weight: 500;
    letter-spacing: -3px;
    word-spacing: 3px;
}
#case{
    padding: 40px 60px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size: 24px;
    font-weight: 400;
}
#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
#line{
    height:3px;
    width: 120px;
    background-color: black;
}
#project{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;;
    width:100%;
    height:100%;
    display: flex;
    gap: 80px;
    margin-top: 10px;
}
.elem{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image{
    width: 100%;
    height: 600px;
}
.elem img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bottom-left h2{
    font-size: 40px;
    font-weight: 500;
}
.bottom-left h4{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.bottom-right{
    padding-left: 20px;
    /* background-color: red; */
    height:60px;
    width:80px;
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
}
.bottom-right i{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}